<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header th:fragment="head">
      <nav class="navbar">
        <a class="logo" th:href="@{/index}">Coffee<span>.</span></a>
        <ul class="menu-links">
         
          <li><a th:href="@{/index}">Home</a></li>
          <li><a th:href="@{/order}">Thực Đơn</a></li>
          <li><a href="UScoffee.html">Về Chúng Tôi</a></li>
          <li><a href="feedback.html">Feed Back</a></li>
        </ul>
        
      </nav>
      
    </header>
</body>
</html>