<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Product</title>
    <link rel="stylesheet" th:href="@{/CSS_COFFEE/cart-product.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
    <link rel="stylesheet" th:href="@{/CSS_COFFEE/menu.css}">
</head>
<body>
    <header th:replace="~{_fragmentCoffee::head}">
      </header>

      <div class="container">
		 
		<form >
		    <table>
		        <thead>
		          <tr>
		            <th style="width: 200px;">Hình Ảnh</th>
		            <th>Tên Món</th>
		            <th>Size</th>
		            <th>Giá</th>
		            <th>Số Lượng</th>
		            <th>Trạng Thái</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr th:if="cartItemList != null" th:each="cartItem:${cartItemList}">
					  <input type="hidden" id="idOfCartItem" th:value="${cartItem.id}">
		            <td>								
						<img style="height: 70px; width: 70px;" th:src="'data:image/jpeg;base64,' + ${cartItem.product.image}">
					</td>
		            <td th:text="${cartItem.product.name}"></td>
		            <td th:text="${cartItem.size}"></td>
		            <td id="costPrice" th:text="${#numbers.formatDecimal(cartItem.costPrice, 0, 'POINT', 0, 'POINT')} + 'VNĐ'"></td>
		            <td >
						
						<button type="button" class="decrease" style="height:25px; width:25px; background-color: white; border: none; color:red; font-weight: bold; font-size: 20px" >-</button>
						<span th:text="${cartItem.quantity}"></span>
						<button type="button" class="increase" style="height:25px; width:25px; background-color: white; border: none; color:green; font-weight: bold; font-size: 20px" >+</button>
					</td>
		            
		            <td>Giao Hàng Tận Nơi</td>
		          </tr>
		        </tbody>
		    </table>
		
		    <div class="container-tong">
		      <div class="tongCong">Tổng cộng</div>
		      <div>
		        <table>
		          <tbody >
					  <tr>
				            <td id="mechandiseqQuantity"  th:text="'Số Lượng: ' + ${mechandiseqQuantity}"></td>
				            <td id="price" th:if="${shoppingCart != null}" th:text="${#numbers.formatDecimal(shoppingCart.totalPrice, 0, 'POINT', 0, 'POINT')} + 'VNĐ'"></td>
				            <td id="price" th:if="${shoppingCart == null}">0VNĐ</td>
				            <td>Phí Giao Hàng: 20.000VNĐ</td>
		            </tr>
		          </tbody>
		        </table>
		        
		        
		      </div>
		
		      <div id="totalPriceAll" class="price" th:if="${shoppingCart != null}" th:text="${#numbers.formatDecimal(shoppingCart.totalPrice + 20000, 0, 'POINT', 0, 'POINT')} + 'VNĐ'"></div>
		       <div id="totalPriceAll" class="price" th:if="${shoppingCart == null}" th:text="0 + 'VNĐ'"></div>
		       
		
		    </div>
		    <div class="order" >
				
		        <button type="submit" id="order-button"  style="background-color: orange" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" >Đặt hàng</button>
		        
		    </div>
        </form>
      </div>

      <div class="contact" id="contact">
        <div class="contact-box">
            <div class="contact-image">
                <img src="Hinh_Coffee/khong_gian_coffee.jpg">
            </div>
        </div>
        <div class="contact-box">
            <div class="contact-body">
                <form>
                    <h2>Chi Nhánh Của Chúng Tôi</h2>
                    <div class="form-content">
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i>130 Đồng Khởi Phường 11 Q.1 TP.HCM</div>
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i>489 Âu Cơ Phường 11 Q.Tân Phú TP.HCM</div>
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i>49 Hồng Bàng Phường 2 Q.10 TP.HCM</div>
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i>78 CMT8 Phường 7 Q.3 TP.HCM</div>
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i> 391 Nguyễn Thị Thập P.Tân Thuận Tây Q.7 TP.HCM</div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer-box">
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
           
            <div class="brand">
                <h2>COFFEE!</h2>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông Tin Nhận Hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="myForm" th:action="@{/order/add}" method="POST">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tên người nhận hàng:</label>
            <input type="text" name="fullName"  class="form-control" id="fullNameModal">
          </div>
           <div class="form-group">
            <label for="recipient-name" class="col-form-label">Số điện thoại</label>
            <input type="text" name="phoneNumber" class="form-control" id="phoneNumberModal">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Địa chỉ nhận hàng:</label>
            <textarea name="address" class="form-control" id="addressModal"></textarea>
          </div>
          <div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
				<label for="tienMat">Tiền Mặt</label>
				<input type="radio" id="tienMat" name="paymentMethod" value="Tiền Mặt">
			</div>
			
			<div style="margin-left: 20px;">
				<label for="chuyenKhoan">Chuyển Khoản</label>
				<input type="radio" id="chuyenKhoan" name="paymentMethod" value="Chuyển Khoản" checked="true">
			</div>
		</div>
		
			<div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
		        <button type="submit" id="submitForm" class="btn btn-primary">Xác Nhận</button>
	      	</div>
        </form>
      </div>
      
    </div>
  </div>
</div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/cart-product.js}"></script>
    <script th:src="@{js/momo.js}"></script>
</body>
</html>