<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Product</title>
    <link rel="stylesheet" th:href="@{/CSS_COFFEE/detail-coffee.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <link rel="stylesheet" th:href="@{/CSS_COFFEE/menu.css}">
</head>
<body>
    <header th:replace="~{_fragmentCoffee::head}"></header>	
	<form method="POST" th:action="@{/addShoppingCart}">
		<input id="price-size" type="hidden" th:value="${product.price}">
		<input id="price" type="hidden" name="costPrice" th:value="${product.price}">
		
		<input id="price-sale-size" type="hidden" th:value="${product.sale_price}">
		<input id="price-sale" type="hidden" name="sale_price" th:value="${product.sale_price}">
		
		<input type="hidden" name="quantity" value=1>
		<input id="size" type="hidden" name="size" value="S">
		<input  type="hidden" name="product" th:value="${product.id}">
	      <div class="container">
				<div class="img-product">
		            <img  class="traNhietDoi" th:src="@{'data:image/jpeg;base64,' + ${product.image}}"> 
		        </div>
		
		        <div>
		            <h1 th:text="${product.name}"></h1>
		            <div th:if="${product.sale_price ==0}" id="display-price" th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 0, 'POINT')} + 'VNĐ'" class="price"></div>
		            <div th:if="${product.sale_price !=0}" id="display-price" th:text="${#numbers.formatDecimal(product.sale_price, 0, 'POINT', 0, 'POINT')} + 'VNĐ'" class="price"></div>

		            <div class="size">
		            <div>Chọn Size:</div>
		            <button id="button-small" class="click-size"  type="button">Nhỏ 0đ</button>
		            <button id="button-medium" type="button">Vừa 5.000đ</button>
		            <button id="button-large" type="button">Lớn 10.000đ</button>
		            </div>
		            <div>Địa Điểm Dùng Món:</div>
		            <div class="checkbox-container">
		            <label for="checkbox1" class="checkbox-label">
		                <input name="foodPlace" type="radio" id="checkbox1" class="checkbox" checked> Giao Hàng Tận Nơi
		            </label>
		            </div>
		            
		
		                <div class="order">
		                    <button th:if="${product.expired == false}" type="submit" class="order">Đặt Hàng</button>
		                    <p th:if="${product.expired == true}" type="submit" class="order">Hết hàng</p>
		                </div>
		        </div>
	      </div>
	</form>
	
	<div class="feedback">
        <div class="product-ratings-header">
            Đánh Giá Sản Phẩm
        </div>
        
        <form th:action="@{/detailCoffee/feedback/add}" enctype="multipart/form-data" method="post" sec:authorize="isAuthenticated()">
			<input th:if="${customer != null}" type="hidden" name="customer" th:value="${customer.id}">
			<input th:if="${product != null}" type="hidden" name="product" th:value="${product.id}">
	        <div class="input-container" sec:authorize="isAuthenticated()">
				
					<div style="margin-right: 15px">
						<img class="avt" th:src="'data:image/jpeg;base64,' + ${customer.image}" >
					</div>
					
					<div>
						<input name="comment" class="input-feedback" type="text" placeholder="Đánh Giá Của Bạn...">
					</div>
					
					
					
					<div>
						<button type="submit" class="send-button" style="padding: 5px 10px 5px 10px; margin-left: 15px">Gửi</button>
		                
					</div>
			
			
			</div>
			<div class="input-container">
					<div>
						<input name="hinhAnh1" class="input-feedback" type="file" id="image-file-1">
						<img  src="#" style="width: 100px;height: 100px;" id="image-1">
					</div>
					
					<div>
						<input name="hinhAnh2" class="input-feedback" type="file"  id="image-file-2">
						<img src="#" style="width: 100px;height: 100px;"  id="image-2">
					</div>
				</div>
			</div>
        </form>
        <div class="customer-ratings" th:each="feedback:${feedbackList}">
            <div class="customer-avt" th:if="${feedback.customer.image != null}">
                <img class="avt" th:src="'data:image/jpeg;base64,' + ${feedback.customer.image}">
            </div>

            <div class="customer-feedback">
                <div class="customer-name" th:text="${feedback.customer.fullName}">
                    @thanhnhi.1208
                </div>
                
                <div class="time-feedback" th:text="${feedback.feedBack_date}">
                    20:13 25-02-2023
                </div>

                <div class="feedback" th:text="${feedback.comment}">
                    Mỗi nhân viên đều tỏ ra chuyên nghiệp và am hiểu về các loại cà phê, 
                    giúp khách hàng lựa chọn được thức uống phù hợp với khẩu vị của họ.
                </div>

                <div class="image-container">
					<th:block th:each="image, status : ${feedback.imageTemp}">
					    <img class="feedback-img" th:src="'data:image/jpeg;base64,' + ${image}" />
					    
					</th:block>

                </div>
            </div>
        </div>

     

      </div>
	
      <div class="contact" id="contact">
        <div class="contact-box">
            <div class="contact-image">
                <img src="Hinh_Coffee/khong_gian_coffee.jpg">
            </div>
        </div>
        <div class="contact-box">
            <div class="contact-body">
                <form>
                    <h2>Chi Nhánh Của Chúng Tôi</h2>
                    <div class="form-content">
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i>130 Đồng Khởi Phường 11 Q.1 TP.HCM</div>
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i>489 Âu Cơ Phường 11 Q.Tân Phú TP.HCM</div>
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i>49 Hồng Bàng Phường 2 Q.10 TP.HCM</div>
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i>78 CMT8 Phường 7 Q.3 TP.HCM</div>
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i> 391 Nguyễn Thị Thập P.Tân Thuận Tây Q.7 TP.HCM</div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer-box">
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
           
            <div class="brand">
                <h2>COFFEE!</h2>
            </div>
        </div>
    </div>

    <script src="js/detailCoffe.js"></script>
    <script src="js/feedback.js"></script>
</body>
</html>