<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS_COFFEE/feedBack.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Feed Back</title>
</head>
<body>
    <header>
        <nav class="navbar">
          <a class="logo" href="homeCoffee.html">Coffee<span>.</span></a>
          <ul class="menu-links"> 
            <li><a href="homeCoffee.html">Home</a></li>
            <li><a href="menuCoffee.html">Thực Đơn</a></li>
            <li><a href="UScoffee.html">Về Chúng Tôi</a></li>
            <li><a href="feedback.html">Feed Back</a></li>
          </ul>
        </nav>
      </header>

    <div class="header1">
        <div>
            <a href="menuCoffee.html">
            <img class="feedBack-img" src="Hinh_Coffee/FeedBack.png">
            </a>
        </div>

        <div class="feedback">
            <input type="text" placeholder="Phản hồi của bạn...">
            <button>Gửi</button>
        </div>
    </div>

    <div class="full">
        <div class="mid">
        <div class=" avt">
            <img class="thanhnhi-img" src="Image/thanhnhi.jpg">
        </div>
        <div class="container">
        <div class="user">
            ThanhNhi.1208
        </div>
        <div class="date">
            10:45 04/08/2023
        </div>

        <div class="star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
        </div>

        <div class="Content">
            Không gian quán rất đẹp, phù hợp chạy dealine, giá nước ổn
        </div>

        <div>
            <i class="fa-regular fa-thumbs-up" style="font-size: 20px;"></i>
        </div>
    </div>
    </div>

    <div class="mid">
        <div class=" avt">
            <img class="thanhnhi-img" src="Image/hokhanh.jpg">
        </div>
        <div class="container">
        <div class="user">
            hokhanh@
        </div>
        <div class="date">
            17:12 24/02/2023
        </div>

        <div class="star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
        </div>

        <div class="Content">
            Nước vừa tầm giá sv, không gian yên tĩnh, nhiều ổ cắm
        </div>

        <div>
            <i class="fa-regular fa-thumbs-up" style="font-size: 20px;"></i>
        </div>
    </div>
    </div>

    <div class="mid">
        <div class=" avt">
            <img class="thanhnhi-img" src="Image/thanhnhi.jpg">
        </div>
        <div class="container">
        <div class="user">
            hokhanh@
        </div>
        <div class="date">
            17:12 24/02/2023
        </div>

        <div class="star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
        </div>

        <div class="Content">
            Nhân viên rất nhiệt tình, mặc dù không gian hơi nhỏ và ồn
        </div>

        <div>
            <i class="fa-regular fa-thumbs-up" style="font-size: 20px;"></i>
        </div>
    </div>
    </div>

    <div class="mid">
        <div class=" avt">
            <img class="thanhnhi-img" src="Image/hokhanh.jpg">
        </div>
        <div class="container">
        <div class="user">
            hokhanh@
        </div>
        <div class="date">
            17:12 24/02/2023
        </div>

        <div class="star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
        </div>

        <div class="Content">
            Chủ yếu nước độc đáo, quán decor rất xinh, sẽ ủng hộ quán 
        </div>

        <div>
            <i class="fa-regular fa-thumbs-up" style="font-size: 20px;"></i>
        </div>
    </div>
    </div>

    <div class="mid">
        <div class=" avt">
            <img class="thanhnhi-img" src="Image/hokhanh.jpg">
        </div>
        <div class="container">
        <div class="user">
            hokhanh@
        </div>
        <div class="date">
            17:12 24/02/2023
        </div>

        <div class="star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
        </div>

        <div class="Content">
            Nước vừa tầm giá sv, không gian yên tĩnh, nhiều ổ cắm
        </div>

        <div>
            <i class="fa-regular fa-thumbs-up" style="font-size: 20px;"></i>
        </div>
    </div>
    </div>

    <div class="mid">
        <div class=" avt">
            <img class="thanhnhi-img" src="Image/hokhanh.jpg">
        </div>
        <div class="container">
        <div class="user">
            hokhanh@
        </div>
        <div class="date">
            17:12 24/02/2023
        </div>

        <div class="star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
        </div>

        <div class="Content">
            Dịch vụ tại quán rất tuyệt vời! Nhân viên thân thiện và nhiệt tình, luôn tạo cảm giác ấm cúng cho khách hàng.
        </div>

        <div>
            <i class="fa-regular fa-thumbs-up" style="font-size: 20px;"></i>
        </div>
    </div>
    </div>

    <div class="mid">
        <div class=" avt">
            <img class="thanhnhi-img" src="Image/hokhanh.jpg">
        </div>
        <div class="container">
        <div class="user">
            hokhanh@
        </div>
        <div class="date">
            17:12 24/02/2023
        </div>

        <div class="star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
        </div>

        <div class="Content">
            Wifi mạnh và ổn định, làm cho quán trở thành nơi lý tưởng để làm việc hoặc họp nhóm.
        </div>

        <div>
            <i class="fa-regular fa-thumbs-up" style="font-size: 20px;"></i>
        </div>
    </div>
    </div>

    <div class="mid">
        <div class=" avt">
            <img class="thanhnhi-img" src="Image/hokhanh.jpg">
        </div>
        <div class="container">
        <div class="user">
            hokhanh@
        </div>
        <div class="date">
            17:12 24/02/2023
        </div>

        <div class="star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
        </div>

        <div class="Content">
            Nhạc nền nhẹ nhàng, không gian yên tĩnh, tạo điều kiện tốt cho việc trò chuyện hay đọc sách.
        </div>

        <div>
            <i class="fa-regular fa-thumbs-up" style="font-size: 20px;"></i>
        </div>
    </div>
    </div>

    <div class="mid">
        <div class=" avt">
            <img class="thanhnhi-img" src="Image/hokhanh.jpg">
        </div>
        <div class="container">
        <div class="user">
            hokhanh@
        </div>
        <div class="date">
            17:12 24/02/2023
        </div>

        <div class="star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
        </div>

        <div class="Content">
            Mỗi nhân viên đều tỏ ra chuyên nghiệp và am hiểu về các loại cà phê, 
            giúp khách hàng lựa chọn được thức uống phù hợp với khẩu vị của họ.
        </div>

        <div>
            <i class="fa-regular fa-thumbs-up" style="font-size: 20px;"></i>
        </div>
    </div>
    </div>

    <div class="mid">
        <div class=" avt">
            <img class="thanhnhi-img" src="Image/hokhanh.jpg">
        </div>
        <div class="container">
        <div class="user">
            hokhanh@
        </div>
        <div class="date">
            17:12 24/02/2023
        </div>

        <div class="star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
        </div>

        <div class="Content">
            Quán luôn giữ sạch sẽ và gọn gàng, tạo cảm giác an toàn và thoải mái cho khách hàng.
        </div>

        <div>
            <i class="fa-regular fa-thumbs-up" style="font-size: 20px;"></i>
        </div>
    </div>
    </div>

    </div>

</body>
</html>