<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="CSS_COFFEE/singup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
		
		<div style="text-align: center;">
			<p th:if="${notification != null}" style="color: red; text-align: center;" th:text="${notification}"></p>
		</div>
		
		<form method="post" th:action="@{/forgot-password/confirmForgetPassword}">
	        <div class="icon-signup">
	        <img class="icon-img" th:src="@{/img/icon-coffee.webp}">
	        <h2>Quên Mật Khẩu </h2>
	        </div>
	
	        <label for="Email"><b> Email</b></label>
	        <input th:value="${email}" type="text" placeholder="Email" name="email" required id="email">
	
	
	        <label for="psw"><b>Mật khẩu mới</b></label>
	        <input  th:value="${password}" type="password" placeholder="Mật Khẩu Mới" name="password" required>
	
	        <label for="psw"><b>Mã OTP</b></label>
	        <input  th:value="${otp}" placeholder="Mã OTP" name="Otp" required type="text">  
	      
	        <div class="div-fotgot-password">
	            <a class="fotgot-password" href="#" id="a-send-otp">Mã OTP</a>
	        </div>
	
	        <div class="button-signup-div">
	            <button class="button-signup">Xác Nhận</button>
	        </div>
        </form>
        
        <div class="div-fotgot-password">
          <a class="fotgot-password" th:href="@{/login}">Đăng nhập</a>
        </div>
    </div>
    
    <script th:src="@{/js/forgot-password.js}"></script>
</body>
</html>