<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/CSS_COFFEE/menu.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Menu Coffee</title>
</head>

<body>

    <header>
		<nav class="navbar">
	        <a class="logo" th:href="@{/index}">Coffee<span>.</span></a>
	        <ul class="menu-links">
	         	
	         <li>
				 <input type="text" class="input-find-menu" placeholder="Tìm kiếm" id="input-find-menu">
			 </li>
	          <li><a th:href="@{/index}">Trang Chủ</a></li>
	          <li><a th:href="@{/menu}">Thực Đơn</a></li>
	           <li sec:authorize="isAuthenticated()"><a  th:href="@{/favorite}">Yêu Thích Của Tôi</a></li>
	          <li sec:authorize="isAuthenticated()" th:if="${shoppingCart != null}">
				  <a   th:href="@{/shoppingCart}">
				  	  <div class="div-totalItem">
						  <i class="fa-solid fa-cart-plus" style="color: #ff0000;"></i>
						  <span id="totalItem" th:text="${shoppingCart.totalItem}"></span>
					  </div>
			  	  </a>
			  </li>
			  <li>
				  <div class="dropdown"  >
				  	  <img sec:authorize="isAuthenticated() == false" th:src="@{/img/avt-macdinh.jpg}" style="width: 35px; height: 35px; object-fit: cover; border-radius: 20px;">
				  	  <img sec:authorize="isAuthenticated()" th:src="'data:image/jpeg;base64,' + ${customer.image}" style="width: 35px; height: 35px; object-fit: cover; border-radius: 20px;">
					  <div class="dropdown-content">
						<a th:href="@{/shipCoffee}" sec:authorize="isAuthenticated()">Đơn Hàng</a>
					    <a th:href="@{/profile}" sec:authorize="isAuthenticated()">Tài Khoản</a>
					    <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Đăng Xuất</a>
					    <a th:href="@{/login}" sec:authorize="!isAuthenticated()">Đăng nhập</a>		
					    				    
					  </div>
			  	  </div>
			  </li>
	
	        </ul>
	        
	      </nav>
	</header>	
<!-- Best Seller -->


    <div class="best" id="best">
        <div class="best-header">
            <h1>Best Seller</h1>
        </div>
        <div class="best-content">
            <div class="hot-coffees">
                <div class="hot-coffees-image">
                    <img class="hot-coffees-image" src="Hinh_Coffee/hot-coffees.jpg" alt="">
                </div>
                <div class="hot-coffees-body">
                    <h2>Hot Coffees</h2>
                    <label>Nhấm nháp tách hot coffee ấm áp, bạn không chỉ uống cà phê, mà còn uống sự hứng khởi, sự tận hưởng cuộc sống và những chân lý đắng cay của ngày mới!</label>
                </div>
            </div>
            <div class="cold-coffees">
                <div class="cold-coffees-image">
                    <img class="cold-coffees-image" src="Hinh_Coffee/cold-coffees.jpg" alt="">
                </div>
                <div class="cold-coffees-body">
                    <h2>Cold Coffees</h2>
                    <label>Nước cà phê lạnh là một chuyến phiêu lưu mới của hương vị, nơi hòa quyện giữa sự tươi mới của đá và hương thơm nồng nàn của cà phê!</label>
                </div>
            </div>
            <div class="frappucino-coffees">
                <div class="frappucino-coffees-image">
                    <img class="frappucino-coffees-image" src="Hinh_Coffee/frappuccino.jpg" alt="">
                </div>
                <div class="frappucino-coffees-body">
                    <h2>Frappucino Coffees</h2>
                    <label>Frappucino là một tác phẩm nghệ thuật đầy sáng tạo, là nguồn cảm hứng cho những khoảnh khắc thoải mái và thưởng thức cuộc sống!</label>
                </div>
            </div>
        </div>
    </div>


    <div  class="shop" id="shop">
		<th:block th:each="category:${categoryList}">
	        <div class="shop-header">
	            <h1>Menu</h1>
	            <h1 th:text="${category.name}"></h1>
	        </div>
	        <div class="shop-box">
	            <div th:each="productItem:${productList}" th:if="${productItem.category.name == category.name}" class="item-1">
	                <div class="card">
	                    <div class="card-image">
	                        <a th:href="@{/detailCoffee(id = ${productItem.id})}">
								<img th:src="'data:image/jpeg;base64,' + ${productItem.image}">
							</a>
	                    </div>
	                    <div class="card-body">
	                        <i sec:authorize="isAuthenticated()" class="fa-solid fa-heart" ></i>
	                        <label th:if="${productItem.sale_price != 0}" style="text-decoration: line-through; font-size: 20px; color: red;" class="cash" th:text="${#numbers.formatDecimal(productItem.price, 0, 'POINT', 0, 'POINT')} + 'VNĐ'"></label>
	                        <label th:if="${productItem.sale_price != 0}" class="cash" th:text="${#numbers.formatDecimal(productItem.sale_price, 0, 'POINT', 0, 'POINT')} + 'VNĐ'" style="font-size: 21px;"></label>
	                        <label th:if="${productItem.sale_price == 0}"  class="cash" th:text="${#numbers.formatDecimal(productItem.price, 0, 'POINT', 0, 'POINT')} + 'VNĐ'"></label>
	                        <h3 th:text="${productItem.name}"></h3>
	                        <label th:text="${productItem.discription}"></label>
	                    </div>
	                </div>
	            </div>
	        </div>
        </th:block>
	</div>
            
            
      <!-- ChatBot -->

        <div class="container-chat-bot"  sec:authorize="isAuthenticated()" id="container-chat-bot">
                <div class="content-chat-bot" id="example-chat">
	                  <div class="detail-content">
	                    <img class="content-img"  src="img/chatbot.jpg" alt="">
	                  </div>
	            
	                  <div class="chatbot">
	                    ChatBot
	                    <div class="detail-chatbot">Xin chào nơi đây cung cấp những thông tin về các loại sản phẩm cửa hàng hiện có. Bạn muốn hỏi gì?</div>
	                  </div>
                </div>
                
                <div id="example-chat-customer" style="display: none;" class="content-customer">
				    <div class="content-you">
					    <div class="you">
					      You
					      <div class="detail-you">ok, cảm ơn nhiều</div>
					    </div>
				
			    	<div class="detail-content">
				     	 <img class="content-img-you"  th:src="'data:image/jpeg;base64,' + ${customer.image}">
				    </div>
				  </div>
				</div>
            

              <div class="container-send" id="container-send">     
	                <div>
	                  <img class="container-send-you-img"  th:src="'data:image/jpeg;base64,' + ${customer.image}"  >
	                </div> 
	        
	                <div>
	                	<input class="send-input" type="text" placeholder="Send Messengers" id="message-customer">
	                </div> 
	        
	                <div class="div-send">
	                  	<i class="fa-solid fa-paper-plane" style="color: orange; font-size: 25px;" id="icon-send"></i>
	                
	                </div>
        
          	</div>   
    	</div>
            
            
                <div class="circle"  sec:authorize="isAuthenticated()">
                 	<img class="circle-img" src="img/messenger.png" >
                 
                </div>
                
               

              <!--Footer-->
    <div class="contact" id="contact">
        <div class="contact-box">
            <div class="contact-image">
                <img src="Hinh_Coffee/khong_gian_coffee.jpg">
            </div>
        </div>
        <div class="contact-box">
            <div class="contact-body">
                <form>
                    <h2>Chi Nhánh Của Chúng Tôi</h2>
                    <div class="form-content">
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i>130 Đồng Khởi Phường 11 Q.1 TP.HCM</div>
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i>489 Âu Cơ Phường 11 Q.Tân Phú TP.HCM</div>
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i>49 Hồng Bàng Phường 2 Q.10 TP.HCM</div>
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i>78 CMT8 Phường 7 Q.3 TP.HCM</div>
                        <div><i class="fa-solid fa-location-dot" style="color: #6ddf30;"></i> 391 Nguyễn Thị Thập P.Tân Thuận Tây Q.7 TP.HCM</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

            
   


    <div class="footer">
        <div class="footer-box">
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
           
            <div class="brand">
                <h2>COFFEE!</h2>
            </div>
        </div>
    </div>

</body>

	<script th:src="@{/js/favorite.js}"></script>
	<script th:src="@{/js/chatbot.js}"></script>
	<script th:src="@{/js/find-menu.js}"></script>
	
	 <script>
		 		 let circle = document.querySelector('.circle');
                  if(circle != null){
					  circle.addEventListener('click', function() {
	                    let element = document.querySelector('.container-chat-bot');
	                    let style = window.getComputedStyle(element);
	                    if(style.top == '90px'){
	                      element.style.top = '1000px';
	                    }else{
	                      element.style.top = '90px';
	                    }
	                });
				  }
                
        </script>

</html>