<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="CSS_COFFEE/US.css">
    <!-- Google Fonts Links For Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a class="logo" href="homeCoffee.html">Coffee<span>.</span></a>
        <ul class="menu-links">
          <span id="close-menu-btn" class="material-symbols-outlined">close</span>
          <li><a href="homeCoffee.html">Home</a></li>
          <li><a href="menuCoffee.html">Thực Đơn</a></li>
          <li><a href="UScoffee.html">Về Chúng Tôi</a></li>
          <li><a href="feedback.html">Feed Back</a></li>
        </ul>
        <span id="hamburger-btn" class="material-symbols-outlined">menu</span>
      </nav>
    </header>

    <section class="hero-section">
      <div class="content">
        <h2>Start Your Day With Fresh Coffee</h2>
        <p>
          Chúng tôi không chỉ là một quán cafe, mà còn là nơi giao thoa của những 
          trái tim yêu thưởng thức cà phê và nghệ thuật. Với đội ngũ Barista tận 
          tâm và sáng tạo, chúng tôi tự hào mang đến cho bạn những tách cà phê tuyệt 
          vời nhất, từ những hạt cà phê được chọn lựa cẩn thận.
        </p>

        <h2>Coffee!</h2>
        <p>
          Quán cafe của chúng tôi được thiết kế với sự chân thành và sự chú ý đến chi tiết,
          tạo ra một không gian thoải mái và ấm áp.
          Tại đây, bạn có thể tận hưởng không khí thư giãn, đọc sách, 
          làm việc hoặc chia sẻ những cuộc họp năng động cùng đồng nghiệp.
        </p>

      
    </section>

    <script>
      const header = document.querySelector("header");
      const hamburgerBtn = document.querySelector("#hamburger-btn");
      const closeMenuBtn = document.querySelector("#close-menu-btn");

      // Toggle mobile menu on hamburger button click
      hamburgerBtn.addEventListener("click", () => header.classList.toggle("show-mobile-menu"));

      // Close mobile menu on close button click
      closeMenuBtn.addEventListener("click", () => hamburgerBtn.click());
    </script>
    
  </body>
</html>